Source: signon-apparmor-extension
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               libapparmor-dev (>= 2.9.1-0ubuntu9.1),
               libdbus-1-dev,
               libqtdbusmock1-dev,
               libqtdbustest1-dev,
               pkg-config,
               qt5-default,
               qt5-qmake,
               signond-dev (>= 8.53),
Standards-Version: 3.9.5
Section: libs
Homepage: https://launchpad.net/signon-apparmor-extension
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:signon-apparmor-extension
Vcs-Browser: https://bazaar.launchpad.net/~online-accounts/signon-apparmor-extension/trunk/files

Package: signon-apparmor-extension
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: AppArmor access control extension for signond
 This extension to the Online Accounts signond daemon provides an
 implementation of an access control manager for the account credentials.
